/** CLOUD SERVER PAGE */
@import '../variables';
@import '../components/slider_partners';
@import '../components/cloud_server_options';

section {
    padding: 30px 0;
    .section-title {
        font-size: 2em;
        color: #031b4e;
        padding-bottom: 10px;
        font-weight: 600;
    }
    .section-description {
        max-width: 650px;
        margin: auto;
        font-size: 1.125em
    }
}

/** Slider cloud server */
.slider-sloud-server {
    .layout-slide-item {
        min-height: 380px;
    }
    .owl-nav {
        display: none;
    }
    .title-image {
        display: flex;
        max-width: 430px;
        margin: auto;
    }
    .slide-image {
        display: flex;
        max-width: 100%;
        max-height: 380px;
        margin: auto;
        img {
            width: auto;
        }
    }
    .slide-button {
        text-align: center;
        padding: 15px;
        .btn {
            min-width: 220px;
        }
    }
    @media (max-width: $screen-sm) {
        .layout-slide-item {
            padding: 30px 15px;
        }
        .title-image {
            display: flex;
            max-width: 80%;
            margin: auto;
        }
    }
}

/* PARTNERS */
.section-partners {
    &{
        padding: 20px 0;
        background-color: #f6f5f5;
        .section-title {
            font-size: 1.2em;
            margin-bottom: 30px;
            color: #4b5c81;
        }
        
    }
}

/* SERVICES */
.section-services {
    .section-description {
        max-width: 650px;
        margin: auto;
        font-size: 1.125em;
        margin-bottom: 30px;
        display: block;
    }
    .title {
        font-size: large;
        font-weight: 500;
        padding: 0 0 30px 0;
    }
}

.form-options-config,
.form-custom-config {
    padding: 30px;
    .btn {
        padding: .375rem 1.75rem;
        margin-top: 30px;
    }
}
.form-options-config  {
    box-shadow: 0 3px 15px rgba(64, 142, 224, 0.47);
    p {
        font-weight: 500;
        font-size: 1.1em;
    }
    ul li {
        padding: 5px 0;
        color: fade($primary-color, 30);
    }
}

@media (min-width: $screen-sm) {
    .form-custom-config {
        padding-top: 0;
    }
}

/** SECTION PRICING */
.slide_pricing {
    @media (min-width: $screen-sm) {        
    
        .owl-item {
            padding: 20px;
            .pricing_block {
                .ribbon {
                    top: 20px;                    
                }
                &:hover .ribbon{
                    top: 15px;
                }
                // transform: scale(.9);
                box-shadow: 0px 0px 2px 3px transparent;
                transition: all ease .3s;
            }
            &.active.center .pricing_block{
                // transform: scale(1);
                box-shadow: 0px 4px 20px 2px #56565624;
            }
        }
    } /** End media */
}