/** CLOUD SERVER PAGE */
@import '../variables';
@import '../components/slider_partners';
@import '../components/cloud_server_options';

section {
    padding: 30px 0;
    .section-title {
        font-size: 2em;
        color: #031b4e;
        padding-bottom: 10px;
        font-weight: 600;
    }
    .section-description {
        max-width: 680px;
        margin: auto;
        font-size: 1.125em
    }
}

.module-title{
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 15px;
}
/** Slider cloud server */
.slider-sloud-server {
    .layout-slide-item {
        min-height: 380px;
    }
    .owl-nav {
        display: none;
    }
    .title-image {
        display: flex;
        max-width: 430px;
        margin: auto;
    }
    .slide-image {
        display: flex;
        max-width: 100%;
        max-height: 380px;
        margin: auto;
        img {
            width: auto;
        }
    }
    .slide-button {
        text-align: center;
        padding: 15px;
        .btn {
            min-width: 220px;
        }
    }
    @media (max-width: $screen-sm) {
        .layout-slide-item {
            padding: 30px 15px;
        }
        .title-image {
            display: flex;
            max-width: 80%;
            margin: auto;
        }
    }
}

/* PARTNERS */
.section-partners {
    &{
        padding: 20px 0;
        background-color: #f6f5f5;
        .section-title {
            font-size: 1.2em;
            margin-bottom: 30px;
            color: #4b5c81;
        }
        
    }
}

/* SERVICES */
.section-services {
    .section-description {
        max-width: 680px;
        margin: auto;
        font-size: 1.125em;
        margin-bottom: 30px;
        display: block;
    }
    .title {
        font-size: large;
        font-weight: 500;
        padding: 0 0 30px 0;
    }
}

.form-options-config,
.form-custom-config {
    padding: 30px;
    .btn {
        padding: .375rem 1.75rem;
    }
}
.form-options-config  {
    box-shadow: 0 3px 15px rgba(64, 142, 224, 0.47);
    p {
        font-weight: 500;
        font-size: 1.1em;
    }
    ul li {
        padding: 5px 0;
        color: fade($primary-color, 30);
    }
}

@media (min-width: $screen-sm) {
    .form-custom-config {
        padding-top: 0;
    }
}

@media (min-width: $screen-sm) {
    .group-label .bf-icon{
        margin-left: -30px;
    }
    .show-group-label {
        padding-left: 60px;
    }
}
.hide-group-label {
    .group-label {
        display: none;
    }
}

/** SECTION PRICING */
.slide_pricing {
    @media (min-width: $screen-sm) {        
    
        .owl-item {
            padding: 20px;
            .pricing_block {
                .ribbon {
                    top: 20px;                    
                }
                &:hover .ribbon{
                    top: 15px;
                }
                // transform: scale(.9);
                box-shadow: 0px 0px 2px 3px transparent;
                transition: all ease .3s;
            }
            &.active.center .pricing_block{
                // transform: scale(1);
                box-shadow: 0px 4px 20px 2px #56565624;
            }
        }
    } /** End media */
}
/** CLOUD SERVER PACKAGE */
.cloud-package-layout {
    .block-content {
        img {
            width: 100px;
            height: 80px;
        }
        .title {
            font-size: large;
            text-transform: none;
            font-weight: 500;
            padding: 30px 15px 10px;
        }
        p {
            max-width: 220px;
            margin: auto;
            display: block;
        }
    }
}
/** SECTION FEATURES */
.section-features {
    background-image: linear-gradient(90deg, darken($primary-color, 8%) 0%, darken($primary-color, 25%) 100%);
    .features-body {
        padding: 30px 15px;
    }
    .media-item {
        padding-top: 30px;
    }
    .block-item {
        padding: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 15px;
        font-size: 1.125em;
        .title {
            display: block;
            padding: 0 0 15px;
            font-size: 1.25em;
            font-weight: 500;
        }
    }
    @media (max-width: $screen-sm) {        
        .media-item {
            padding-right: 50px;
        }
    }
}
/** SECTION BENEFITS */
.section-benefits {
    .benefits-body {
        padding-top: 30px;
    }
    .block-item {
        padding: 30px;
        margin-bottom: 30px;
        font-size: 1em;
        text-align: center;
        border: 1px solid rgba($primary-color, .05);
        display: flex;
        flex-direction: column;
        height: #{'calc(100% - 30px)'};
        .bf-icon-hover {
            opacity: 0;
        }
        &:hover,&:active,&:focus {
            background-color: $primary-color;
            &, .title { color: #fff; }
            .bf-icon:not(.bf-icon-hover) {
                opacity: 0;
            }
            .bf-icon-hover {
                opacity: 1;
            }
        }
        .block-header {
            text-align: center;
            margin-bottom: 25px;
            position: relative;
            padding-bottom: 80px;
            .bf-icon, .bf-icon-hover {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                margin: auto;
            }
        }
        .bf-icon {
            width: 80px;
            height: 80px;
        }
        .title {
            display: block;
            padding: 0 0 15px;
            font-size: 1.25em;
            font-weight: 500;
        }
    }
}
.block-os {
    margin-top: 30px;
    .module-title{
        margin-bottom: 60px;
    }
    .os-image, .os-hover {
        display: block;
        text-align: center;
        margin-bottom: 10px;
        font-size: 1.4em;
    }
    .os-item {
        .os-hover { opacity: 0;}
        &:hover, &:focus, &:active {
            .os-hover { opacity: 1;}
        }
    }
}

/* Section testimanial */
.section-testimonials {
    background-image: linear-gradient(to bottom, #5068ee 0%, #0d0719 100%);
    background: transparent url(/assets/images/cloud-server/testimonial-bg.jpg);
    background-size: 100% 100%;
    position: relative;
}

/* SHOW PRICING */
.list-price-config {
    .head {
        font-weight: 500;
    }
    li:not(.price-data-disks) {
        border-bottom: 1px solid #eaeaea;
        padding: 5px 15px;
    }
    // price-data-disks
    .premium {
        color: $primary-color;
        font-weight: 500;
    }
    .stt {
        font-weight: 500;
    }
    .total-price {
        background-color: #eaeaea;
        margin-top: 10px;
        font-weight: 500;
    }
}