/* OFFICE BLOCK */
.office_block {
    .title {
        font-weight: 600;
        padding: 15px 0;
    }
    .label {
        display: inline-block;
        font-weight: 600;
        margin-right: 10px;
    }
    .office-attr {
        margin-bottom: 10px;
    }
}