// FOOTER
.section-info {
    padding: 30px 0;
    background-color: darken($color: $primary-color, $amount: 55);
    background-image: linear-gradient(172deg, #351a69 0%, #000c29 100%);
}

/* contact-card */
.contact-card {
    padding: 15px 0;
    .label {
        color: lighten($color: $primary-color, $amount: 10);
        font-weight: 500;
        margin-bottom: 5px;
    }
    .info, .info a{
        color: $white;
        font-weight: 500;
        font-size: medium;
    }
}
.social-inline {
    padding: 15px 0;
    .social-icon {
        display: inline-block;
        margin-right: 4px;
    }
}

.copyright {
    background-color: #050d2f;
    padding: 15px;
    text-align: center;
    color: #d2d2d2;
    font-size: .95em;
    .rules {
        margin-left: 15px;
        > a {
            margin: 0 5px;
        }
    }
}

.footer-logo {
    display: block;
    max-width: 210px;
    margin-bottom: 20px;
}
.section-footermain {
    padding: 60px 0;
    position: relative;
    >.container::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;        
        background: transparent url(/assets/images/world-map-bg.svg) no-repeat center / 60%;
        pointer-events: none;
        opacity: .5;
    }
    .img-label {
        display: block;
        max-width: 160px;
        margin: 10px 0 10px 0;
        img {
            max-width: 100%;
        }
    }
    .img-320 {
        @extend .img-label;
        width: 320px;
        max-width: 100%;
        margin: auto;
        margin-bottom: 15px;
    }
    .company-info {
        li {
            margin-bottom: 10px;
        }
    }
    .footer-title {
        font-size: 20px;
        text-transform: uppercase;
        color: $primary-color;
        margin-bottom: 20px;
        font-weight: 600;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        a { color: #333; }
        >li {
            >a, >span {
                display: block;
                padding: 10px 0;
            }
        }
    }
}