/**
Name: BizFlyCloudTheme
Author: VCCORP - Devteam
*/

/** BUTTONS */

.btn.btn-solid {
  background-color: #427cff;
  color: #fff;
}

.btn.btn-solid:hover,
.btn.btn-solid:active,
.btn.btn-solid:focus {
  box-shadow: 0 6px 12px -4px #427cff;
}

.btn.btn-radius {
  border-radius: 50%;
}

/** Theme layout */

.ui-wrapper {
  padding: 15px;
  border: 1px solid #eaeaea;
}

.ui-inline {
  display: inline-block;
  margin-right: 10px;
}

