/** CLOUD SERVER PAGE */

section {
  padding: 30px 0;
}

section .section-title {
  font-size: 2em;
  color: #031b4e;
  padding-bottom: 10px;
  font-weight: 600;
}

section .section-description {
  max-width: 650px;
  margin: auto;
  font-size: 1.125em;
}

/** Slider cloud server */

.slider-sloud-server .layout-slide-item {
  min-height: 380px;
}

.slider-sloud-server .owl-nav {
  display: none;
}

.slider-sloud-server .title-image {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 430px;
  margin: auto;
}

.slider-sloud-server .slide-image {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  max-height: 380px;
  margin: auto;
}

.slider-sloud-server .slide-image img {
  width: auto;
}

.slider-sloud-server .slide-button {
  text-align: center;
  padding: 15px;
}

.slider-sloud-server .slide-button .btn {
  min-width: 220px;
}

@media (max-width: 768px) {
  .slider-sloud-server .layout-slide-item {
    padding: 30px 15px;
  }

  .slider-sloud-server .title-image {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 80%;
    margin: auto;
  }
}

/* PARTNERS */

.section-partners {
  padding: 20px 0;
  background-color: #f6f5f5;
}

.section-partners .section-title {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #4b5c81;
}

.section-partners .owl-item .partner-image {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.8;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.section-partners .owl-item .partner-image:hover {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.section-partners .partner-image {
  position: relative;
  padding-bottom: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
          -webkit-align-content: center;
          align-content: center;
  height: 70px;
}

.section-partners .partner-image img {
  display: block;
  width: auto;
  max-width: 100%;
  margin: auto;
}

.section-partners .owl-carousel .owl-nav button.owl-prev,
.section-partners .owl-carousel .owl-nav button.owl-next {
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: 2.65em;
  color: #427cff;
}

.section-partners .owl-carousel .owl-nav button.owl-prev::before,
.section-partners .owl-carousel .owl-nav button.owl-next::before {
  opacity: 0;
}

.section-partners .owl-carousel .owl-nav button.owl-prev:hover,
.section-partners .owl-carousel .owl-nav button.owl-next:hover {
  border: none;
  color: #11a95e;
}

@media (min-width: 768px) {
  .section-partners .owl-carousel .owl-nav button.owl-next {
    right: -30px;
  }

  .section-partners .owl-carousel .owl-nav button.owl-prev {
    left: -30px;
  }
}

