/** CLOUD SERVER PAGE */

/** SLIDER PARTNER */

.slider_partners .owl-item .partner-image {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 1;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.slider_partners .owl-item .partner-image:hover {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.slider_partners .partner-image {
  position: relative;
  padding-bottom: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
          -webkit-align-content: center;
          align-content: center;
  height: 70px;
}

.slider_partners .partner-image img {
  display: block;
  width: auto;
  max-width: 100%;
  margin: auto;
}

.slider_partners.owl-carousel .owl-nav button.owl-prev,
.slider_partners.owl-carousel .owl-nav button.owl-next {
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: 2.65em;
  color: #427cff;
  border: 1px solid transparent;
}

.slider_partners.owl-carousel .owl-nav button.owl-prev > span,
.slider_partners.owl-carousel .owl-nav button.owl-next > span {
  opacity: 0;
}

.slider_partners.owl-carousel .owl-nav button.owl-prev::before,
.slider_partners.owl-carousel .owl-nav button.owl-next::before {
  opacity: 1;
  content: "";
  background: transparent;
  border-left: 1px solid #427cff;
  border-bottom: 1px solid #427cff;
  border-radius: 0;
  width: 15px;
  height: 15px;
}

.slider_partners.owl-carousel .owl-nav button.owl-prev:hover,
.slider_partners.owl-carousel .owl-nav button.owl-next:hover {
  border: none;
  color: #11a95e;
  border: 1px solid transparent;
  border-radius: 0;
}

.slider_partners.owl-carousel .owl-nav button.owl-prev:hover::before,
.slider_partners.owl-carousel .owl-nav button.owl-next:hover::before {
  border-color: #11a95e;
  border-width: 0 0 2px 2px;
}

.slider_partners.owl-carousel .owl-nav button.owl-prev::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: 12px;
  margin-right: 7px;
}

.slider_partners.owl-carousel .owl-nav button.owl-next::before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-bottom: 12px;
  margin-left: 7px;
}

@media (min-width: 768px) {
  .slider_partners.owl-carousel .owl-nav button.owl-next {
    right: -30px;
  }

  .slider_partners.owl-carousel .owl-nav button.owl-prev {
    left: -30px;
  }
}

/* RESTET INPUT RANGE STYLE */

.cloud_server_options {
  /* END RESET INPUT RANGE STYLE */
  /** switch */
  /** Label root disk */
}

.cloud_server_options input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.cloud_server_options input[type=range]:hover {
  opacity: 1;
}

.cloud_server_options input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 65px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.cloud_server_options input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.cloud_server_options .noUi-horizontal {
  height: 26px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background: #e5e8ed;
}

.cloud_server_options .noUi-connects {
  border-radius: 0;
}

.cloud_server_options .noUi-horizontal .noUi-handle {
  top: 0;
  right: 0;
  height: 26px;
  background: #3fb8af;
  box-shadow: none;
  border: none;
  border-right: 8px solid #5161b9;
  border-radius: 0;
}

.cloud_server_options .noUi-horizontal .noUi-handle:focus {
  outline: none;
}

.cloud_server_options .noUi-horizontal .noUi-handle::before {
  content: "";
  position: absolute;
  right: 6px;
  top: calc(40%);
  -webkit-transform: rotate(90deg) translateY(-50%);
      -ms-transform: rotate(90deg) translateY(-50%);
          transform: rotate(90deg) translateY(-50%);
  width: 0;
  height: 0;
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-color: #5161b9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  z-index: 2;
  background: transparent;
}

.cloud_server_options .input-range {
  display: block;
  background: #3fb8af;
  color: #fff;
  padding-left: 90px;
  position: relative;
}

.cloud_server_options .input-range .label_disk_type {
  position: absolute;
  top: 0;
  left: -50px;
  width: 45px;
  text-align: center;
}

.cloud_server_options .slider-range-valude {
  position: absolute;
  left: 15px;
  top: 3px;
  letter-spacing: -0.085em;
}

.cloud_server_options label {
  white-space: nowrap;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 0;
}

.cloud_server_options .option-config-data {
  border: 1px solid #eaeaea;
  border-radius: 3px;
  background: #fbfbfb;
  text-align: center;
  font-weight: 500;
  margin-top: 30px;
  padding: 15px 12px;
}

.cloud_server_options .switch {
  position: relative;
}

.cloud_server_options .switch input {
  position: absolute;
  visibility: hidden;
}

.cloud_server_options .switch input + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cloud_server_options .switch input + label {
  padding: 2px;
  width: 130px;
  height: 32px;
  background-color: #e5e8ed;
  border-radius: 60px;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

.cloud_server_options .switch .label-off,
.cloud_server_options .switch .label-on {
  display: inline-block;
  width: 62px;
  height: 28px;
  background: transparent;
  border-radius: 15px;
  line-height: 28px;
  text-align: center;
  color: #333;
  position: relative;
  z-index: 2;
}

.cloud_server_options .switch input + label .label-off {
  color: #f5f5f5;
}

.cloud_server_options .switch input:checked + label .label-on {
  color: #f5f5f5;
}

.cloud_server_options .switch input:checked + label .label-off {
  background-color: transparent;
  color: #333;
}

.cloud_server_options .switch input + label::before {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: 2px;
  height: 28px;
  width: 62px;
  border-radius: 15px;
  background-color: #5161b9;
  z-index: 1;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.cloud_server_options .switch input:checked + label::before {
  left: 65px;
}

.cloud_server_options .label_disk_type {
  background-color: #5161b9;
  color: #f5f5f5;
  padding: 3px 10px;
  line-height: 16px;
  font-size: smaller;
  border-radius: 10px;
  float: right;
  margin-top: 3px;
  margin-right: -20px;
  cursor: pointer;
}

.cloud_server_options .label_disk_type.frootdisk_label {
  cursor: auto;
}

@media (max-width: 768px) {
  .cloud_server_options label {
    white-space: nowrap;
    font-weight: 500;
    font-size: smaller;
    line-height: 30px;
    margin-bottom: -11px;
  }
}

section {
  padding: 30px 0;
}

section .section-title {
  font-size: 2em;
  color: #031b4e;
  padding-bottom: 10px;
  font-weight: 600;
}

section .section-description {
  max-width: 650px;
  margin: auto;
  font-size: 1.125em;
}

/** Slider cloud server */

.slider-sloud-server .layout-slide-item {
  min-height: 380px;
}

.slider-sloud-server .owl-nav {
  display: none;
}

.slider-sloud-server .title-image {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 430px;
  margin: auto;
}

.slider-sloud-server .slide-image {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  max-height: 380px;
  margin: auto;
}

.slider-sloud-server .slide-image img {
  width: auto;
}

.slider-sloud-server .slide-button {
  text-align: center;
  padding: 15px;
}

.slider-sloud-server .slide-button .btn {
  min-width: 220px;
}

@media (max-width: 768px) {
  .slider-sloud-server .layout-slide-item {
    padding: 30px 15px;
  }

  .slider-sloud-server .title-image {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 80%;
    margin: auto;
  }
}

/* PARTNERS */

.section-partners {
  padding: 20px 0;
  background-color: #f6f5f5;
}

.section-partners .section-title {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #4b5c81;
}

/* SERVICES */

.section-services .section-description {
  max-width: 650px;
  margin: auto;
  font-size: 1.125em;
  margin-bottom: 30px;
  display: block;
}

.section-services .title {
  font-size: large;
  font-weight: 500;
  padding: 0 0 30px 0;
}

.form-options-config,
.form-custom-config {
  padding: 30px;
}

.form-options-config .btn,
.form-custom-config .btn {
  padding: 0.375rem 1.75rem;
  margin-top: 30px;
}

.form-options-config {
  box-shadow: 0 3px 15px rgba(64, 142, 224, 0.47);
}

.form-options-config p {
  font-weight: 500;
  font-size: 1.1em;
}

.form-options-config ul li {
  padding: 5px 0;
  color: fade(#427cff, 30);
}

@media (min-width: 768px) {
  .form-custom-config {
    padding-top: 0;
  }
}

