/** SLIDER PARTNER */

.slider-arrow .owl-item .partner-image {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 1;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.slider-arrow .owl-item .partner-image:hover {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.slider-arrow .partner-image {
  position: relative;
  padding-bottom: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
          -webkit-align-content: center;
          align-content: center;
  height: 70px;
}

.slider-arrow .partner-image img {
  display: block;
  width: auto;
  max-width: 100%;
  margin: auto;
}

.slider-arrow.owl-carousel .owl-nav button.owl-prev,
.slider-arrow.owl-carousel .owl-nav button.owl-next {
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: 2.65em;
  color: #427cff;
  border: 1px solid transparent;
}

.slider-arrow.owl-carousel .owl-nav button.owl-prev > span,
.slider-arrow.owl-carousel .owl-nav button.owl-next > span {
  opacity: 0;
}

.slider-arrow.owl-carousel .owl-nav button.owl-prev::before,
.slider-arrow.owl-carousel .owl-nav button.owl-next::before {
  opacity: 1;
  content: "";
  background: transparent;
  border-left: 1px solid #427cff;
  border-bottom: 1px solid #427cff;
  border-radius: 0;
  width: 15px;
  height: 15px;
}

.slider-arrow.owl-carousel .owl-nav button.owl-prev:hover,
.slider-arrow.owl-carousel .owl-nav button.owl-next:hover {
  border: none;
  color: #11a95e;
  border: 1px solid transparent;
  border-radius: 0;
}

.slider-arrow.owl-carousel .owl-nav button.owl-prev:hover::before,
.slider-arrow.owl-carousel .owl-nav button.owl-next:hover::before {
  border-color: #11a95e;
  border-width: 0 0 2px 2px;
}

.slider-arrow.owl-carousel .owl-nav button.owl-prev::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: 12px;
  margin-right: 7px;
}

.slider-arrow.owl-carousel .owl-nav button.owl-next::before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-bottom: 12px;
  margin-left: 7px;
}

@media (min-width: 768px) {
  .slider-arrow.owl-carousel .owl-nav button.owl-next {
    right: -30px;
  }

  .slider-arrow.owl-carousel .owl-nav button.owl-prev {
    left: -30px;
  }
}

/* RESTET INPUT RANGE STYLE */

.show-group-label .data_disk_only,
.show-group-label .option-config-data {
  display: none;
}

.cloud_server_options {
  /** Layout options config */
  /* END RESET INPUT RANGE STYLE */
  /** switch */
  /** Label root disk */
  /** DATA DISK ARRAY */
}

.cloud_server_options .col-label {
  max-width: 100%;
  width: 140px;
}

.cloud_server_options .col-input {
  max-width: 100%;
  width: calc(100% - 140px );
}

.cloud_server_options .group-label .title {
  font-size: 1.2em;
  font-weight: 500;
  padding: 25px 0 25px 0;
}

@media (max-width: 768px) {
  .cloud_server_options .col-label {
    width: 110px;
  }

  .cloud_server_options .col-input {
    width: calc(100% - 110px );
  }
}

.cloud_server_options input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.cloud_server_options input[type=range]:hover {
  opacity: 1;
}

.cloud_server_options input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 65px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.cloud_server_options input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.cloud_server_options .noUi-horizontal {
  height: 26px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background: #e5e8ed;
}

.cloud_server_options .noUi-connects {
  border-radius: 0;
}

.cloud_server_options .noUi-horizontal .noUi-handle {
  top: 0;
  right: 0;
  height: 26px;
  background: #3fb8af;
  box-shadow: none;
  border: none;
  border-right: 8px solid #5161b9;
  border-radius: 0;
}

.cloud_server_options .noUi-horizontal .noUi-handle:focus {
  outline: none;
}

.cloud_server_options .noUi-horizontal .noUi-handle::before {
  content: "";
  position: absolute;
  right: 6px;
  top: calc(40%);
  -webkit-transform: rotate(90deg) translateY(-50%);
      -ms-transform: rotate(90deg) translateY(-50%);
          transform: rotate(90deg) translateY(-50%);
  width: 0;
  height: 0;
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-color: #5161b9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  z-index: 2;
  background: transparent;
}

.cloud_server_options .input-range {
  display: block;
  background: #3fb8af;
  color: #fff;
  padding-left: 90px;
  position: relative;
}

.cloud_server_options .input-range .label_disk_type {
  position: absolute;
  top: 0;
  left: -50px;
  width: 45px;
  text-align: center;
}

.cloud_server_options .input-range .label_disk_remove {
  position: absolute;
  top: 0;
  right: -50px;
  width: 45px;
  text-align: center;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background: #e22727;
  border-radius: 10px;
  font-size: smaller;
  cursor: pointer;
}

.cloud_server_options .slider-range-valude {
  position: absolute;
  left: 15px;
  top: 3px;
  letter-spacing: -0.085em;
}

.cloud_server_options label {
  white-space: nowrap;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 0;
}

.cloud_server_options .option-config-data {
  border: 1px solid #eaeaea;
  border-radius: 3px;
  background: #fbfbfb;
  text-align: center;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px 12px;
}

.cloud_server_options .switch {
  position: relative;
}

.cloud_server_options .switch input {
  position: absolute;
  visibility: hidden;
}

.cloud_server_options .switch input + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cloud_server_options .switch input + label {
  padding: 2px;
  width: 130px;
  height: 32px;
  background-color: #e5e8ed;
  border-radius: 60px;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

.cloud_server_options .switch .label-off,
.cloud_server_options .switch .label-on {
  display: inline-block;
  width: 62px;
  height: 28px;
  background: transparent;
  border-radius: 15px;
  line-height: 28px;
  text-align: center;
  color: #333;
  position: relative;
  z-index: 2;
}

.cloud_server_options .switch input + label .label-off {
  color: #f5f5f5;
}

.cloud_server_options .switch input:checked + label .label-on {
  color: #f5f5f5;
}

.cloud_server_options .switch input:checked + label .label-off {
  background-color: transparent;
  color: #333;
}

.cloud_server_options .switch input + label::before {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: 2px;
  height: 28px;
  width: 62px;
  border-radius: 15px;
  background-color: #5161b9;
  z-index: 1;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.cloud_server_options .switch input:checked + label::before {
  left: 65px;
}

.cloud_server_options .label_disk_type {
  background-color: #5161b9;
  color: #f5f5f5;
  padding: 3px 10px;
  line-height: 16px;
  font-size: smaller;
  border-radius: 10px;
  float: right;
  margin-top: 3px;
  margin-right: -20px;
  cursor: pointer;
}

.cloud_server_options .label_disk_type:hover {
  background-color: #4CAF50;
}

@media (max-width: 768px) {
  .cloud_server_options label {
    white-space: nowrap;
    font-weight: 500;
    font-size: smaller;
    line-height: 30px;
    margin-bottom: -11px;
  }
}

.cloud_server_options .btn.addDataDisk {
  margin: 0;
  padding: 0.275rem 0.95rem;
}

.cloud_server_options .btn.addDataDisk .rounder-icon {
  font-style: normal;
  border: 1px solid #ffffff;
  color: #5161b9;
  background: #fff;
  padding: 0px;
  width: 14px;
  height: 14px;
  line-height: 11px;
  font-size: 0.8em;
  font-weight: 700;
  border-radius: 50%;
  vertical-align: middle;
  margin-top: -2px;
  margin-left: -7px;
  display: inline-block;
  text-align: center;
  margin-right: 2px;
}

.cloud_server_options .data-disk-panel {
  margin-top: 15px;
}

.cloud_server_options .data-disk-panel .form-group .col-input {
  width: calc(100% - 190px );
  margin-left: 140px;
}

/** Theme layout */

.ui-main-page {
  padding: 30px 0;
}

.ui-wrapper {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #eaeaea;
}

.ui-inline {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.ui-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: larger;
}

.ui-code {
  padding: 15px;
  margin: 15px 0;
  border: 1px solid #151515;
  background-color: #151515;
}

.ui-code,
.ui-code pre {
  color: #aad3f5;
}

