.home-slider .slide-content {
  pointer-events: none;
}

@media (max-width: 768px) {
  .home-slider .slide-content img {
    max-width: 60%;
    margin: auto;
  }
}

.list-services {
  padding: 30px;
}

