/* RESTET INPUT RANGE STYLE */
$cloud_server_options_primary-color: #5161b9;
$cloud_server_options_second-color: #4CAF50;
.cloud_server_options {

    input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }

    input[type='range']:hover {
    opacity: 1;
    }

    input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 65px;
    height: 25px;
    background: $cloud_server_options_second-color;
    cursor: pointer;
    }

    input[type='range']::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: $cloud_server_options_second-color;
    cursor: pointer;
    }
    /* END RESET INPUT RANGE STYLE */

    .noUi-horizontal {
        height: 26px;
        border-radius: 0;
        border: none;
        box-shadow: none;
        background: #e5e8ed;
    }
    .noUi-connects {
        border-radius: 0;
    }
    .noUi-horizontal .noUi-handle {
        top: 0;
        right: 0;
        height: 26px;
        background: #3fb8af;
        box-shadow: none;
        border: none;
        border-right: 8px solid $cloud_server_options_primary-color;
        border-radius: 0;
    }
    .noUi-horizontal .noUi-handle:focus {
        outline: none;
    }
    .noUi-horizontal .noUi-handle::before {
        content: "";
        position: absolute;
        right: 6px;
        top: calc(40%);
        transform: rotate(90deg) translateY(-50%);
        width: 0;
        height: 0;
        display: inline-block;
        margin-left: 4px;
        vertical-align: middle;
        border-top: 4px dashed;
        border-top: 4px solid\9;
        border-color: $cloud_server_options_primary-color;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        z-index: 2;
        background: transparent;
    }

    .input-range {
        display: block;
        background: #3fb8af;
        color: #fff;
        padding-left: 90px;
        position: relative;
    }
    .slider-range-valude {
        position: absolute;
        left: 15px;
        top: 3px;
    }

    label{
        white-space: nowrap;
        font-weight: 500;
    }
    /** switch */
    .switch {
        position: relative;
        input {
            position: absolute;
            visibility: hidden;
        }
        input + label {
            display: block;
            position: relative;
            cursor: pointer;
            outline: none;
            user-select: none;
        }

        input + label {
            padding: 2px;
            width: 128px;
            height: 32px;
            background-color: #e5e8ed;
            border-radius: 60px;
            transition: background 0.4s;
        }

        .label-off, .label-on {
            display: inline-block;
            width: 62px;
            height: 28px;
            background: transparent;
            border-radius: 15px;
            line-height: 28px;
            text-align: center;
            color: #333;
            position: relative;
            z-index: 2;
        }

        input + label .label-off {
            // background-color: $cloud_server_options_primary-color;
            color: #f5f5f5;
        }

        input:checked + label .label-on{
            // background-color: $cloud_server_options_primary-color;
            color: #f5f5f5;
        }
        input:checked + label .label-off {
            background-color: transparent;
            color: #333;
        }
        // switch transition
        input + label::before {
            content: '';
            display: block;
            position: absolute;
            left: 3px;
            top: 2px;
            height: 28px;
            width: 62px;
            border-radius: 15px;
            background-color: $cloud_server_options_primary-color;
            z-index: 1;
            transition: all ease .3s;
        }
        input:checked + label::before {
            left: 65px;
        }
    }
    /** Label root disk */
    .frootdisk_label {
        background-color: $cloud_server_options_primary-color;
        color: #f5f5f5;
        padding: 3px 10px;
        line-height: 16px;
        font-size: smaller;
        border-radius: 10px;
        float: right;
        margin-top: 3px;
        margin-right: -20px;
    }
}