/**
Name: BizFlyCloudTheme
Author: VCCORP - Devteam
*/

/** BUTTONS */

/** Button style */

.btn-primary {
  -webkit-appearance: none;
  background: -webkit-gradient(to right, #427cff 0%, #7235c3 50%, #42cbff 100%);
  background: -o-linear-gradient(left, #427cff 0%, #7235c3 50%, #42cbff 100%);
  background: linear-gradient(to right, #427cff 0%, #7235c3 50%, #42cbff 100%);
  background-size: 500%;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-primary:hover {
  outline: none;
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.btn.btn-second,
.btn.btn-second.btn-solid {
  -webkit-appearance: none;
  background: #11a95e;
  color: #fff;
}

.btn.btn-second:hover,
.btn.btn-second.btn-solid:hover {
  outline: none;
  box-shadow: 0 6px 12px -4px #11a95e;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100%;
  }
}

.btn.text-bold {
  font-weight: 500;
}

.btn.btn-sm {
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn.btn-primary {
  border: none;
}

.btn.btn-solid {
  background-color: #427cff;
  color: #fff;
}

.btn.btn-solid:hover,
.btn.btn-solid:active,
.btn.btn-solid:focus {
  color: #fff;
  box-shadow: 0 6px 12px -4px #427cff;
}

.btn.btn-radius {
  border-radius: 5rem;
}

.light-text .btn.btn-solid {
  background-color: #fff;
  color: #427cff;
}

.light-text .btn.btn-solid:hover,
.light-text .btn.btn-solid:active,
.light-text .btn.btn-solid:focus {
  color: #427cff;
  box-shadow: 0 6px 12px -4px #427cff;
}

.light-text .btn.btn-primary {
  -webkit-appearance: none;
  background: -o-linear-gradient(left, #ffffff 0%, #eddfff 50%, #e8f9ff 100%);
  background: linear-gradient(to right, #ffffff 0%, #eddfff 50%, #e8f9ff 100%);
  background-size: 500%;
  color: #427cff;
}

.light-text .btn.btn-primary:hover {
  outline: none;
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

/* ICON */

.bf-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
}

.bf-icon.sm {
  width: 14px;
  height: 14px;
  line-height: 14px;
}

.bf-icon.size32 {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.bf-icon.size48 {
  width: 48px;
  height: 48px;
  line-height: 48px;
}

.bf-icon img {
  max-width: 100%;
}

.bf-icon:hover,
.bf-icon:active,
.bf-icon:focus {
  opacity: 0.6;
}

/* TESTIMONIAL BLOCK */

.testimonial_block .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.testimonial_block.testimonial-stylesimple .testimonial-para {
  text-align: center;
  font-size: larger;
  font-style: italic;
  display: block;
  min-height: 6em;
}

.testimonial_block.testimonial-stylesimple .testimonial-para::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 18px;
  background-image: url(/assets/images/testimonials/quote.svg);
  background-size: 100% 100%;
  margin-right: 15px;
  -webkit-transform: rotate(180deg) translateY(2px);
      -ms-transform: rotate(180deg) translateY(2px);
          transform: rotate(180deg) translateY(2px);
}

.testimonial_block.testimonial-stylesimple .testimonial-para::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 18px;
  background-image: url(/assets/images/testimonials/quote.svg);
  background-size: 100% 100%;
  margin-left: 15px;
  -webkit-transform: rotate(0deg) translateY(8px);
      -ms-transform: rotate(0deg) translateY(8px);
          transform: rotate(0deg) translateY(8px);
}

.testimonial_block.testimonial-stylesimple .avatar {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #427cff;
  overflow: hidden;
  margin: 30px auto;
}

.testimonial_block.testimonial-stylesimple .blog-content {
  text-align: center;
  padding-bottom: 30px;
}

.testimonial_block.testimonial-stylesimple .name {
  font-size: 20px;
  font-weight: 700;
  color: #427cff;
  margin-top: 10px;
}

/* OFFICE BLOCK */

.office_block .title {
  font-weight: 600;
  padding: 15px 0;
}

.office_block .label {
  display: inline-block;
  font-weight: 600;
  margin-right: 10px;
}

.office_block .office-attr {
  margin-bottom: 10px;
}

/** SWITCH */

.switch {
  position: relative;
}

.switch input {
  position: absolute;
  visibility: hidden;
}

.switch input + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.switch input + label {
  padding: 2px;
  width: 130px;
  height: 32px;
  background-color: #e5e8ed;
  border-radius: 60px;
  -o-transition: background ease 0.4s;
  transition: background ease 0.4s;
}

.switch .label-off,
.switch .label-on {
  display: inline-block;
  width: 62px;
  height: 28px;
  background: transparent;
  border-radius: 15px;
  line-height: 28px;
  text-align: center;
  color: #333;
  position: relative;
  z-index: 2;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.switch input + label .label-off {
  color: #f5f5f5;
}

.switch input:checked + label .label-on {
  color: #f5f5f5;
}

.switch input:checked + label .label-off {
  background-color: transparent;
  color: #333;
}

.switch input + label::before {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: 2px;
  height: 28px;
  width: 62px;
  border-radius: 15px;
  background-color: #427cff;
  z-index: 1;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.switch input:checked + label::before {
  left: 65px;
}

.switch.xs input + label {
  padding: 2px;
  width: 88px;
  height: 28px;
  border-radius: 60px;
}

.switch.xs input + label::before {
  height: 24px;
  width: 40px;
  border-radius: 14px;
}

.switch.xs input:checked + label::before {
  left: 46px;
}

.switch.xs .label-off,
.switch.xs .label-on {
  width: 42px;
  height: 24px;
  line-height: 24px;
  font-size: smaller;
}

/** NAV COMPONENTS */

nav {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 1.145rem 1.5rem;
  z-index: 2;
}

.brand {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  max-width: 176px;
  padding-right: 15px;
  display: block;
}

.logo img {
  width: 100%;
}

@media (max-width: 768px) {
  nav {
    padding: 0.6rem 2.5rem;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  nav .logo {
    width: 280px;
    padding: 0;
    margin: auto;
  }
}

/* ==========================================================================
   Navigation
   ========================================================================== */

.navigation {
  zoom: 1;
  display: inline-block;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  position: relative;
}

.fa.nav-right {
  background: #427cff;
  color: #fff;
  min-width: 25px;
  min-height: 25px;
  line-height: 25px;
  border-radius: 100%;
  position: fixed;
  right: 10px;
  top: 10px;
  text-align: center;
}

.navigation .navigation_icon {
  display: none;
  width: 30px;
  height: 30px;
  padding-top: 4px;
  text-align: center;
}

.navigation .navigation_icon:before,
.navigation .navigation_icon:after {
  content: "  ";
}

.navigation .navigation_icon:before,
.navigation .navigation_icon:after,
.navigation .navigation_icon > span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #427cff;
  margin: 5px auto;
}

.navigation:before,
.navigation:after {
  content: " ";
  display: table;
}

.navigation:after {
  clear: both;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation a {
  text-decoration: none;
}

.navigation ul {
  text-align: center;
}

.navigation ul > li {
  display: inline-block;
}

.navigation ul > li > a,
.navigation ul > li > span {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 15px;
}

.navigation > ul > li > a,
.navigation > ul > li > span {
  padding: 8px 30px;
}

/* PC
*/

@media (min-width: 768px) {
  /* BEFORE HEIGHT TO PADDING */

  .navigation > ul > li.hasSub {
    position: relative;
  }

  .navigation > ul > li.hasSub:hover:before {
    content: " ";
    display: block;
    width: 100%;
    height: 15px;
    background: transparent;
    position: absolute;
    top: 100%;
  }

  .fa.nav-right {
    display: none;
  }

  .navigation ul > li .sub-icon {
    display: block;
    position: absolute;
    top: 48%;
    right: 6px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 0;
    height: 0;
    text-indent: -999999px;
    border-top: 4px dashed #999;
    border-top: 4px solid\9;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }

  .navigation ul > li > ul > li .sub-icon {
    display: none;
  }

  .navigation ul > li ul {
    position: absolute;
    margin-top: 8px;
    min-width: 180px;
    text-align: left;
    background: #fff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease, visibility 0.2s linear 0s, display 0.3s linear 0s, -webkit-transform 0.2s ease;
    -o-transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s linear 0s, display 0.3s linear 0s;
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s linear 0s, display 0.3s linear 0s;
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s linear 0s, display 0.3s linear 0s, -webkit-transform 0.2s ease;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px);
    border: 0px solid transparent;
    border-top: 2px solid #1e36b7;
    z-index: 1;
  }

  .navigation ul > li ul:before {
    content: " ";
    border-bottom: 4px dashed #1e36b7;
    border-bottom: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    left: 20px;
    top: -6px;
  }

  .navigation ul > li ul > li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
  }

  .navigation ul > li ul > li:last-child {
    border-bottom: none;
    border-radius: 0 0 4px 4px;
  }

  .navigation ul > li:hover > ul {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    pointer-events: initial;
    filter: alpha(opacity=100);
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    visibility: inherit;
    padding-bottom: 8px;
  }

  .navigation ul > li > ul > li ul {
    left: 100%;
    top: 0;
    border-top: 0;
    border-left: 2px solid #1e36b7;
  }

  .navigation ul > li > ul > li ul:before {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: -6px;
    top: 3px;
    border-color: transparent transparent transparent transparent;
  }

  .navigation ul > li.mega-menu > ul > li.hasSub > ul {
    display: block;
    position: relative;
    left: auto;
    top: auto;
    border-top: 0;
    border-left: none;
    visibility: visible;
    padding-bottom: 0;
    opacity: 2;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    box-shadow: none;
  }

  .nav-right.navigation ul > li > ul {
    left: auto;
    right: 0;
  }

  .nav-right.navigation ul > li ul:before {
    left: auto;
    right: 20px;
  }
}

/* ----------------
    Mobile
  ------------------*/

@media (max-width: 768px) {
  .navigation .navigation_icon {
    display: block;
    position: fixed;
    left: 20px;
    top: 20px;
    background: transparent;
    z-index: 9999;
  }

  .nav-right.navigation .navigation_icon {
    left: auto;
    right: 5px;
  }

  .navigation > ul {
    position: fixed;
    display: block;
    top: 0;
    left: -275px;
    bottom: 0;
    height: 100%;
    width: 275px;
    background: #fff;
    z-index: 9999;
  }

  .nav-right.navigation > ul {
    left: auto;
    right: -275px;
  }

  .navigation > ul > li {
    float: none;
    display: block;
    text-align: left;
  }

  .navigation > ul > li > a,
  .navigation > ul > li > span {
    padding: 10px 30px;
    font-size: 14px;
    border-bottom: 1px solid #eaeaea;
  }

  .navigation > ul > li ul {
    text-align: left;
  }

  .navigation > ul > li ul > li {
    display: block;
  }

  .navigation > ul > li ul > li > a {
    padding-left: 30px;
    display: block;
    background: #e8e8e8;
    border-bottom: 1px solid #eaeaea;
  }

  .navigation .navigation_icon:before,
  .navigation .navigation_icon:after,
  .navigation .navigation_icon > span {
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }

  .navigation .navigation_icon:before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .navigation .navigation_icon:after {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .navigation .navigation_icon > span {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  .navigation > ul,
  .navigation .navigation_icon {
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  /* open navigation */

  .navigation.nav-open > ul {
    left: 0;
    z-index: 9999;
    overflow: auto;
  }

  .nav-right.navigation.nav-open > ul {
    left: auto;
    right: 0;
  }

  .navigation.nav-open .navigation_icon {
    left: 275px;
    z-index: 9999;
  }

  .nav-right.navigation.nav-open .navigation_icon {
    left: auto;
    right: 275px;
  }

  .navigation.nav-open > ul {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }

  .navigation > ul {
    padding-top: 100px;
  }

  .navigation > ul::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: #516be6 url(/assets/images/BizFly-Cloud.svg) no-repeat center center/180px auto;
  }

  .navigation.nav-open .navigation_icon:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: 10px;
  }

  .navigation.nav-open .navigation_icon:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: -14px;
  }

  .navigation.nav-open .navigation_icon > span {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
  }
}

.backdrop_nav {
  background: rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

@media (min-width: 768px) {
  .navigation ul > li .sub-icon {
    display: none;
  }

  li.hasSub > a {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  li.hasSub > a:after,
  li.hasSub > span:after {
    content: "";
    position: relative;
    right: 0px;
    top: calc(50% + 2px);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 6px;
    height: 6px;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-color: #2c2c2c;
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(45deg) translateY(100%);
        -ms-transform: rotate(45deg) translateY(100%);
            transform: rotate(45deg) translateY(100%);
    transition: -webkit-transform 0.1s ease;
    -o-transition: transform 0.1s ease;
    transition: transform 0.1s ease;
    transition: transform 0.1s ease, -webkit-transform 0.1s ease;
    content: "";
    margin-left: 12px;
    margin-right: 3px;
  }
}

@media (max-width: 768px) {
  .navigation > ul > li:first-child {
    border-top: 1px solid #eaeaea;
  }

  .navigation .hasSub {
    position: relative;
  }

  .navigation .hasSub > .sub-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    left: auto;
    padding: 8px 12px;
    width: 40px;
    height: 40px;
    background: transparent;
    border-bottom: none;
    text-align: right;
    display: block;
  }

  .navigation .hasSub > ul {
    display: none;
  }

  .navigation .hasSub.hasSub_on > ul {
    display: block;
  }

  .navigation > ul > li {
    position: relative;
    width: 100%;
  }

  .navigation > ul > li > ul {
    display: none;
    padding: 0;
  }

  .navigation > ul > li > ul li > a {
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
    color: #666;
  }
}

@media (max-width: 768px) {
  .navi-wrapper .container {
    position: relative;
    z-index: 9;
  }
}

@media (min-width: 768px) {
  .navi-wrapper .container {
    position: relative;
    z-index: 9;
  }

  .navigation > ul > li {
    margin-left: -3px;
  }

  .navigation > ul > li:first-child {
    margin-left: 0;
  }

  .navigation > ul > li > a,
  .navigation > ul > li > span {
    padding: 10px;
    position: relative;
  }

  .navigation > ul > li > a::before,
  .navigation > ul > li > span::before {
    content: " ";
    position: absolute;
    display: block;
    left: 1rem;
    top: calc(50% - 2px);
    bottom: auto;
    right: auto;
    width: 0px;
    margin: auto;
    height: 2px;
    background: #1e36b7;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .navigation > ul > li.active > a,
  .navigation > ul > li.active > span,
  .navigation > ul > li > a:hover,
  .navigation > ul > li > span:hover {
    background: transparent;
  }

  .navigation > ul > li.active > a .nav-text,
  .navigation > ul > li.active > span .nav-text,
  .navigation > ul > li > a:hover .nav-text,
  .navigation > ul > li > span:hover .nav-text {
    color: #0034a8;
  }

  .navigation > ul > li.active > a::before,
  .navigation > ul > li.active > span::before,
  .navigation > ul > li > a:hover::before,
  .navigation > ul > li > span:hover::before {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    left: 2px;
  }

  .navigation > ul > li.active > a::after,
  .navigation > ul > li.active > span::after,
  .navigation > ul > li > a:hover::after,
  .navigation > ul > li > span:hover::after {
    border-color: #0034a8;
  }

  .navigation > ul > li.hasSub.mega-menu > ul > li > a {
    font-size: 1.1em;
    font-weight: 500;
  }

  .navigation > ul > li.hasSub.mega-menu > ul {
    width: 580px;
    padding: 25px;
  }

  .navigation > ul > li.hasSub.mega-menu > ul > li {
    display: block;
    float: left;
    width: calc(260px - 0px);
  }

  .navigation > ul > li.hasSub.mega-menu > ul > li > a,
  .navigation > ul > li.hasSub.mega-menu > ul > li > ul > li > a {
    border-bottom: 1px solid #f7f7f7;
  }

  .navigation > ul > li.hasSub.mega-menu > ul > li.hasSub > a:after {
    display: none;
  }

  .navigation > ul > li.hasSub.mega-menu > ul > li.hasSub > ul {
    margin-top: 0;
  }

  .navigation > ul > li.hasSub.mega-menu > ul > li.hasSub > ul > li:hover > a {
    border-radius: 0.25em;
  }

  .navigation > ul > li.hasSub.mega-menu.three-items-menu > ul {
    width: 600px;
  }

  .navigation > ul > li.hasSub.mega-menu.three-items-menu > ul > li {
    width: calc(200px - 0px);
  }
}

@media (min-width: 768px) {
  .navigation > ul > li a,
  .navigation > ul > li span {
    color: #4e4e4e;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .navigation > ul > li > a,
  .navigation > ul > li > span {
    font-weight: 500;
  }

  .navigation > ul > li > ul li:hover > a,
  .navigation > ul > li > ul li:hover > span {
    background: #f5f5f5;
  }

  .navigation > ul > li > ul li:hover > a,
  .navigation > ul > li > ul li:hover > a a,
  .navigation > ul > li > ul li:hover > a span,
  .navigation > ul > li > ul li:hover > span,
  .navigation > ul > li > ul li:hover > span a,
  .navigation > ul > li > ul li:hover > span span {
    color: #0034a8;
  }

  .navigation li.mega-menu > ul > li:hover > a,
  .navigation li.mega-menu > ul > li:hover > span {
    border-radius: 0.25rem;
  }
}

@media (max-width: 1000px) {
  .navigation > ul > li > a,
  .navigation > ul > li > span {
    padding: 10px 5px;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .navigation > ul > li > a,
  .navigation > ul > li > span {
    padding: 8px 15px;
    color: #427cff;
    font-size: 1.125em;
    line-height: 20px;
    color: #4e4e4e;
  }

  .navigation > ul > li > ul > li > a,
  .navigation > ul > li > ul > li > span {
    color: #666;
    font-size: 1.1em;
    border-bottom: 1px solid #fdfdfd;
  }
}

/* Slider single */

.slider_single {
  background-color: transparent;
  /* Slide content */
}

.slider_single .cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: block;
  background-color: transparent;
  background-size: cover;
}

.slider_single .cover img,
.slider_single .cover svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: block;
}

.slider_single .slide-content {
  position: relative;
  z-index: 1;
}

/* Block content */

.block-content {
  padding: 15px;
  padding-top: 30px;
  margin-bottom: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-content .cover {
  margin: auto;
  display: block;
}

.block-content .title {
  font-size: 24px;
  margin: auto;
  display: block;
  padding: 30px 0;
  color: #427cff;
  text-transform: uppercase;
  font-weight: 700;
}

.block_floaticon {
  padding: 15px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.block_floaticon .icon {
  margin: auto;
  display: block;
  text-align: center;
}

.block_floaticon .icon svg {
  max-width: 60px;
}

.block_floaticon .title {
  font-size: 18px;
  margin: auto;
  display: block;
  padding: 15px 0;
  color: #333;
  font-weight: 700;
}

/** PRICING BLOCK */

.pricing_block {
  padding: 30px 15px;
  background-color: #fff;
  text-align: center;
}

.pricing_block .title-bg,
.pricing_block svg {
  max-width: 100%;
  width: 190px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  margin: auto;
}

.pricing_block .ribbon {
  background: -o-linear-gradient(bottom, #0d8248 0%, #11a95e 100%);
  background: linear-gradient(0deg, #0d8248 0%, #11a95e 100%);
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  position: absolute;
  padding-bottom: 36px;
  text-align: center;
  width: 36px;
  top: -2px;
  padding-top: 10px;
  box-shadow: 3px -0.1rem 0.1875rem 0 rgba(0, 0, 0, 0.1);
  right: 30px;
  color: #fff;
  z-index: 1;
}

.pricing_block .ribbon:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 18px;
  border-color: transparent;
  border-bottom-color: #fff;
  position: absolute;
  bottom: -1px;
}

.pricing_block .ribbon:hover {
  background: -o-linear-gradient(bottom, #175eff 0%, #427cff 100%);
  background: linear-gradient(0deg, #175eff 0%, #427cff 100%);
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  position: absolute;
  padding-bottom: 36px;
  text-align: center;
  width: 36px;
  top: -2px;
  padding-top: 10px;
  top: -6px;
}

.pricing_block .ribbon:hover:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 18px;
  border-color: transparent;
  border-bottom-color: #fff;
  position: absolute;
  bottom: -1px;
}

.pricing_block .ribbon .star {
  margin: 15px auto 0;
  position: relative;
  height: 0px;
  width: 0px;
  border-right: 10px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 10px solid transparent;
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
}

.pricing_block .ribbon .star:before {
  position: absolute;
  top: -4.5px;
  left: -6.5px;
  content: "";
  border-bottom: 8px solid #fff;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  -webkit-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.pricing_block .ribbon .star:after {
  position: absolute;
  top: 0px;
  left: -10.5px;
  content: "";
  border-right: 10px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 10px solid transparent;
  -webkit-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
          transform: rotate(-70deg);
}

.pricing_block .switch > label {
  margin: 30px auto;
}

.pricing_block span.title,
.pricing_block a.title {
  display: block;
  color: #4e4e4e;
  font-size: 1.8em;
  font-weight: 400;
  padding: 15px 30px;
  position: relative;
}

.pricing_block .price {
  font-size: 1.85em;
  color: #427cff;
  font-weight: 700;
  margin-bottom: 4px;
}

.pricing_block .price-unit {
  margin-bottom: 10px;
}

.pricing_block .unit {
  font-size: smaller;
}

.pricing_block .sale-off {
  font-weight: 500;
  color: #427cff;
}

.pricing_block .billing-cycle {
  border: none;
  margin: 0 15px;
}

.pricing_block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pricing_block .list-features {
  margin-bottom: 30px;
}

.pricing_block .list-label,
.pricing_block .list-value {
  padding: 5px 15px;
}

.pricing_block .list-label {
  text-align: right;
}

.pricing_block .list-value {
  text-align: left;
  color: #427cff;
}

.pricing_block .btn {
  min-width: 160px;
  text-transform: uppercase;
}

header {
  background: #fff;
  box-shadow: 0 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

.section-info {
  padding: 30px 0;
  background-color: #000c29;
  background-image: -o-linear-gradient(278deg, #351a69 0%, #000c29 100%);
  background-image: linear-gradient(172deg, #351a69 0%, #000c29 100%);
}

/* contact-card */

.contact-card {
  padding: 15px 0;
}

.contact-card .label {
  color: #759fff;
  font-weight: 500;
  margin-bottom: 5px;
}

.contact-card .info,
.contact-card .info a {
  color: #fff;
  font-weight: 500;
  font-size: medium;
}

.social-inline {
  padding: 15px 0;
}

.social-inline .social-icon {
  display: inline-block;
  margin-right: 4px;
}

.copyright {
  background-color: #050d2f;
  padding: 15px;
  text-align: center;
  color: #d2d2d2;
  font-size: 0.95em;
}

.copyright .rules {
  margin-left: 15px;
}

.copyright .rules > a {
  margin: 0 5px;
}

.footer-logo {
  display: block;
  max-width: 210px;
  margin-bottom: 20px;
}

.section-footermain {
  padding: 60px 0;
  position: relative;
}

.section-footermain > .container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: transparent url(/assets/images/world-map-bg.svg) no-repeat center/60%;
  pointer-events: none;
  opacity: 0.5;
}

.section-footermain .img-label,
.section-footermain .img-320 {
  display: block;
  max-width: 160px;
  margin: 10px 0 10px 0;
}

.section-footermain .img-label img,
.section-footermain .img-320 img {
  max-width: 100%;
}

.section-footermain .img-320 {
  width: 320px;
  max-width: 100%;
  margin: auto;
  margin-bottom: 15px;
}

.section-footermain .company-info li {
  margin-bottom: 10px;
}

.section-footermain .footer-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #427cff;
  margin-bottom: 20px;
  font-weight: 600;
}

.section-footermain ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-footermain ul a {
  color: #333;
}

.section-footermain ul > li > a,
.section-footermain ul > li > span {
  display: block;
  padding: 10px 0;
}

.footer-office {
  border-top: 1px solid #c7c7c7;
  padding: 15px;
}

.backtotop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: block;
  width: 32px;
  height: 32px;
  background-color: #427cff !important;
  border-radius: 100%;
  font-size: 10px;
  color: #fff !important;
  line-height: 32px;
  text-align: center;
  padding: 0;
  margin: 0;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  opacity: 0;
  bottom: 0px;
}

.backtotop::before,
.backtotop::after {
  content: "";
  display: block;
  width: 9px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.backtotop > span {
  opacity: 0;
}

.backtotop:hover::before,
.backtotop:hover::after {
  top: 30%;
}

.backtotop.is-visible {
  bottom: 15px;
  opacity: 1;
}

.backtotop.is-visible::before {
  -webkit-transform: rotate(45deg) translateX(4px);
      -ms-transform: rotate(45deg) translateX(4px);
          transform: rotate(45deg) translateX(4px);
}

.backtotop.is-visible::after {
  -webkit-transform: rotate(-45deg) translateX(-4px);
      -ms-transform: rotate(-45deg) translateX(-4px);
          transform: rotate(-45deg) translateX(-4px);
}

body {
  min-height: 300vh;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .logo img {
    -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}

.fix-top {
  position: relative;
}

.fix-top,
.fix-top .logo {
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.fix-top.isfixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.fix-top.isfixed .logo {
  margin: 8px 0;
  max-width: 128px;
}

nav.fix-top.isfixed {
  padding: 0.5rem 1.5rem;
}

/* ICONS LAYOUT */

.bf-icon {
  margin-right: 4px;
  margin-top: -4px;
}

.nav-text .bf-icon {
  margin-left: -8px;
}

.mega-menu > ul > li > ul > li > a,
.mega-menu > ul > li > ul > li > span {
  padding-left: 35px;
}

/* OWL THEME */

.owl-theme .owl-nav {
  margin-top: 0;
}

.owl-dots {
  margin-top: -26px;
  position: relative;
  z-index: 2;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  line-height: 33px;
  width: 40px;
  height: 40px;
  color: #666;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 0.145rem;
  box-shadow: 0 2px 3px #0000002e;
  opacity: 1;
  margin-top: 0px;
}

.owl-carousel .owl-nav button.owl-prev:before,
.owl-carousel .owl-nav button.owl-next:before,
.owl-carousel .owl-nav button.owl-prev:before,
.owl-carousel .owl-nav button.owl-next:before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: auto;
  top: auto;
  height: 100%;
  border-radius: 0.145rem;
  background: #fff;
  background: -o-linear-gradient(bottom, black 0%, black 0%, rgba(0, 0, 0, 0.1) 0%, white 100%);
  background: linear-gradient(0deg, black 0%, black 0%, rgba(0, 0, 0, 0.1) 0%, white 100%);
  opacity: 0.3;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.owl-carousel .owl-nav button.owl-prev:active,
.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-next:active,
.owl-carousel .owl-nav button.owl-next:focus,
.owl-carousel .owl-nav button.owl-prev:active,
.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-next:active,
.owl-carousel .owl-nav button.owl-next:focus {
  outline: none;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  opacity: 1;
  border: 1px solid #75a163;
}

.owl-carousel .owl-nav button.owl-prev.disabled,
.owl-carousel .owl-nav button.owl-next.disabled,
.owl-carousel .owl-nav button.owl-prev.disabled,
.owl-carousel .owl-nav button.owl-next.disabled {
  display: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-next {
  right: 0;
}

@media (min-width: 768px) {
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-prev {
    left: 30px;
  }

  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-next {
    right: 30px;
  }
}

/* SLIDE OWL */

.slide-categories-carousel .owl-item a {
  display: block;
}

.slide-categories-carousel .owl-dots {
  margin-top: -36px;
  text-align: right;
  padding-right: 64px;
}

.slide-categories-carousel.owl-carousel .owl-nav button.owl-prev,
.slide-categories-carousel.owl-carousel .owl-nav button.owl-next {
  top: calc(100% - 36px);
  font-size: 12px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  color: #353535;
  background: #ececec;
  border-radius: 0;
  box-shadow: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  left: auto;
  opacity: 0.3;
}

.slide-categories-carousel.owl-carousel .owl-nav button.owl-prev:hover,
.slide-categories-carousel.owl-carousel .owl-nav button.owl-next:hover {
  opacity: 1;
}

.slide-categories-carousel.owl-carousel .owl-nav button.owl-next {
  right: -5px;
}

.slide-categories-carousel.owl-carousel .owl-nav button.owl-prev {
  right: 26px;
}

.slide-categories-carousel.owl-carousel .owl-dot {
  z-index: 1;
  position: relative;
}

/* Button next slide */

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #427cff;
  color: #FFF;
  text-decoration: none;
}

/* SLIDE LAYOUT */

.slider-section {
  position: relative;
  background-color: #f3f3f3;
}

.layout-slide-item {
  min-height: 40vh;
  background-color: fade(#427cff, 0.25);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout-slide-item .slide-item {
  background-color: fade(#427cff, 0.5);
  min-height: 50px;
}

.home-slider .layout-slide-item {
  min-height: 60vh;
}

@media (max-width: 768px) {
  .home-slider .layout-slide-item {
    min-height: 45vw;
  }
}

/* UTILITYS */

.hd-landscape {
  position: relative;
  padding-bottom: 56.25%;
  display: block;
}

.hd-landscape img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* TYPO */

section {
  padding: 80px 0;
}

section.section-gray {
  background-color: #f6f9f5;
}

.section-title {
  font-size: 26px;
  color: #427cff;
}

.section-title.gap-line::after {
  content: "";
  display: block;
  width: 30px;
  margin: 15px auto;
  height: 2px;
  background-color: #427cff;
}

.light-text,
.light-text .section-title {
  color: #fff;
}

.light-text.gap-line::after,
.light-text .section-title.gap-line::after {
  background-color: #fff;
}

