body {
    min-height: 300vh;
}
.fix-top.isfixed {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 99;
    .logo {
        margin: 8px 0;
        max-width: 160px;
    }
}
nav.fix-top.isfixed {
    padding: .5rem 1.5rem;
}

