
$white: #fff;
$bg-gray-color: #f6f9f5;

$primary-color: #427cff;
$primary-text-color: #fff;
$dark-primary-color: #7235c3;
$light-primary-color: #42cbff;

$second-color: #11a95e;;

$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1200px;